<div class="card border-primary mb-3" >
  <div class="card-header bg-primary border-primary text-white ">
    <div >
      <i class="fas fa-running fa-3x mx-2" style="float:left;"></i>
      <div>
        <h4><%= run.title %></h4>
        <%= run.started_at.strftime("%A, %e %B %Y - %l:%M %P") %>
      </div>
    </div>
  </div>
  <div class="card-body text-primary", style="padding-left: 0; padding-right: 0; padding-top: 0; padding-bottom: 0;">
    <% if run.locations.exists? %>
      <%= content_tag "div", 
        class: "listmap", id: 'map'+run.id.to_s+'''', data: {locations: run.locations.select('latitude','longitude')} do %>
      <% end %>

      <%= javascript_tag do %>
        var map<%= run.id %> = L.map('map<%= run.id %>');
        var latlngs = JSON.parse(document.getElementById('map<%= run.id %>').dataset.locations).map(c => [c.latitude, c.longitude])
        iniRunMap(map<%= run.id %>, latlngs);
        delete latlngs;
      <% end %>

    <% end %>
  </div>
  <div class="card-footer bg-transparent border-primary", style="padding-bottom: 0;">
    <table class="table table-borderless text-center ">
      <thead></thead>
      <tbody>        
        <tr>
          <td>
            <h5><%= number_with_precision(run.km, precision: 2, strip_insignificant_zeros: true) %></h5>
            <p>KM</p>
          </td>
          <td>
            <h5><%= run.dur %></h5>
            <p>Duration</p>
          </td>
          <td>
            <h5><%= number_with_precision(run.kmh, precision: 2, strip_insignificant_zeros: true) %></h5>
            <p>Km/h</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>