
<%= link_to runs_path do %>
    <i class="fas fa-arrow-circle-left fa-3x mx-2 text-secondary"></i>
<% end %>

<%= render 'mapCard', run: @run %>

<div class="card border-primary mb-3" >
  <div class="card-header border-primary text-primary ">
    <div >      
      <h4>More Info</h4>
    </div>
  </div>
  <div class="card-body">
    <h5>Activity Hours:</h5>
    <p><%= @run.started_at ? @run.started_at.strftime("%l:%M %P") : "No Starting Time"%> to <%= @run.ended_at ? @run.ended_at.strftime("%l:%M %P") : "No Finished Time" %> </p>
    <h5>Notes:</h5>
    <p><%= (@run.started_at && @run.ended_at) ? distance_of_time_in_words(@run.started_at, @run.ended_at) : ""%></p>
    <p><%= @run.note %></p>
  </div>
  <div class="card-footer bg-transparent border-primary">
    <table class="table table-borderless text-center ">
      <thead></thead>
      <tbody>        
        <tr>
          <td>
            <%= link_to  "Edit", edit_run_path(@run), class: "btn btn-lg btn-warning " %>
          </td>
          <td>
            <%= link_to  "Delete", @run, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-lg btn-danger " %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>